include preheaders/preheaders.pug 
include header/header.pug
include menu/menu.pug
include card-gorizontal/card-gorizontal.pug
include card-gorizontal-list/card-gorizontal-list.pug
include card-list/card-list.pug
include desc-list/desc-list.pug
include top/top.pug
include social/social.pug 
include socials/socials.pug
include stores/stores.pug 
include store/store.pug
include footer/footer.pug